<h1>Contacts</h1>

<table border="1">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in all_contacts %}
    <tr>
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td><a href="{% url 'contact_app:contact_view' contact.id %}">View</a></td>
      <td><a href="{% url 'contact_app:edit_contact' contact.id %}">Edit</a></td>
      <td><a href="{% url 'contact_app:delete_contact' contact.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'contact_app:new_contact' %}">New</a>